<mat-sidenav-container #sidenavContainer class="shadow-none" style="height: 630px;">
  <mat-sidenav [opened]="navState" class="bg-skin-secondary shadow-2xl" mode="side">
    <mat-nav-list>

      <mat-list-item role="listitem"  routerLinkActive="buttonActive" [routerLink]="'./manageProducts'">
        <fa-icon [icon]="faLaptopHouse" class="side-btn-icon "></fa-icon>&nbsp;Manage Components
      </mat-list-item>
      <mat-list-item role="listitem"  routerLinkActive="buttonActive" [routerLink]="'./manageCategory'">
        <fa-icon [icon]="faLaptopHouse" class="side-btn-icon "></fa-icon>&nbsp;Manage Category
      </mat-list-item>
<!--      <mat-list-item role="listitem"  routerLinkActive="buttonActive" [routerLink]="'./userProfile'">-->
<!--        <fa-icon [icon]="faUser" class="side-btn-icon "></fa-icon>&nbsp;User Profile-->
<!--      </mat-list-item>-->

    </mat-nav-list>


  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>

</mat-sidenav-container>

